.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.contact-card {
    background: rgba(10, 10, 10, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    width: 100%;
    max-width: 400px;
    margin: 20px 0;
}

.contact-card h2 {
    color: #f1faee;
    font-size: 22px;
}

.contact-card p {
    color: #c9d1d3;
    margin: 10px 0;
    font-size: 16px;
}

.contact-card a {
    color: #01eb72;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-card a:hover {
    color: #2c5282;
}

.contact-card i {
    margin-right: 8px;
}